<h3 class="text-center font-bold text-2xl mb-6">
  Available Books
</h3>
<!-- Alert -->
<div *ngIf="message"
     [ngClass]="getAlertClass()"
     role="alert"
>
  <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"></path>
  </svg>
  <div>
    <p> {{ message }} </p>
  </div>
</div>
<hr>
<!-- Book Card -->
<div class="flex items-center justify-center flex-wrap justify-items-start gap-2 mt-8">
  <app-book-card
    *ngFor="let book of bookResponse.content"
    [book]="book"
    (borrow)="borrowBook($event)"
  >
  </app-book-card>
</div>
<!-- Pagination -->
<div class="flex justify-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="inline-flex space-x-2">
      <!-- goToFirstPage button -->
      <li>
        <button
          class="flex items-center justify-center w-10 h-10 text-black transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-black hover:text-white p-2"
          [ngClass]="{'bg-black text-white': page === 0}"
          (click)="goToFirstPage()"
        >
          <a
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page === 0"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </button>
      </li>
      <!-- goToPreviousPage button -->
      <li>
        <button
          class="flex items-center justify-center w-10 h-10 text-black transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-black hover:text-white p-2"
          [ngClass]="{'bg-black text-white': page === 0}"
          (click)="goToPreviousPage()"
        >
          <a
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page === 0"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </button>
      </li>
      <!-- goToPage button -->
      <li *ngFor="let _ of [].constructor(this.bookResponse.totalPages); let pageIndex = index">
        <button
          class="flex items-center justify-center w-10 h-10 text-black transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-black hover:text-white p-2"
          [ngClass]="{'bg-black text-white': page === pageIndex}"
          (click)="gotToPage(pageIndex)"
        >
          <a
            href="javascript:void(0)"
          >{{ pageIndex + 1 }}
          </a>
        </button>
      </li>
      <!-- goToNextPage button -->
      <li>
        <button
          class="flex items-center justify-center w-10 h-10 text-black transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-black hover:text-white p-2"
          [ngClass]="{'bg-black text-white': isLastPage}"
          (click)="goToNextPage()"
        >
          <a
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </button>
      </li>
      <!-- goToLastPage button -->
      <li>
        <button
          class="flex items-center justify-center w-10 h-10 text-black transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-black hover:text-white p-2"
          [ngClass]="{'bg-black text-white': isLastPage}"
          (click)="goToLastPage()"
        >
          <a
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </button>
      </li>
    </ul>
  </nav>
</div>
