# This file contains the environment variables for the application

# The variables are used to send emails
MAIL_USERNAME=
MAIL_PASSWORD=

# The variables are used to generate JWT tokens
JWT_SECRET=
JWT_EXPIRATION=